.footer {
    width: 100%;
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #e2c897;
    color: rgb(56, 35, 4);
    font-size: 0.9rem;
}

a {
    color: rgb(56, 35, 4);
    text-decoration: none;
    font-weight: bold;
}

